#  Copyright 2023 Adam Chalkley
#
#  https://github.com/atc0005/brick
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Linux binaries
/brick
/es
/ezproxy
/ezproxy-mock

# Local Visual Studio Code editor settings (e.g., ignored words for Spelling extension)
/.vscode

# Ignore go generate produced Windows executable resource files
*.syso

# Generated binaries, checksums
/release_assets

# Ignore local "scratch" directory of temporary files
scratch/

# Help prevent inclusion of user-customized or "local" copy of config file;
# this config file can contain sensitive information (e.g.,unauthenticated
# Teams Webhook URL)
/config.toml
